.contact {
  text-align: center;
  margin: -35px 0 70px 0;
}

.contact .email {
  font-size: 1.3em;
  margin-bottom: 15px;
}

.contact {
  .links {
    display: flex;
		flex-wrap: wrap;
    justify-content: center;

    a {
      text-decoration: none;
      color: $link-color;
      padding: 8px;

      &:hover {
        color: $link-hover-color;
      }
    }
  }
}

@media (max-width: 767px) {
  .contact .email {
    font-size: 1em;
  }

  a {
    font-size: .75em;
  }
}